%% -*- erlang -*-
{sub_dirs, ["rel"]}.

{deps, [
	{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {epgsql, ".*", {git, "https://github.com/epgsql/epgsql", "master"}}
       ]
}.

% Compile with debug and lager.
{erl_opts, [
	    debug_info,
	    {parse_transform, lager_transform}
	   ]
}.

{cover_enabled, true}.
